<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Bharat Jain" />
  <meta name="title" content="Button Component" />
  <title>Eternals-UI</title>
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/utilities.css">
  <link rel="stylesheet" href="button.css">
</head>

<body>
  <div class="component-container">
    <h3 class="component-heading">Button</h3>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
  </div>

  <div class="component-container">
    <h3 class="component-heading">Link Button</h3>
    <button type="button" class="btn btn-link">Link</button>
  </div>

  <div class="component-container">
    <h3 class="component-heading">Icon Button</h3>
    <button class="btn btn-icon-container btn-primary">
      <i class="material-icons button-svg-icons">event</i>
      <span>Add Event</span>
    </button>
  </div>

  <div class="component-container">
    <h3 class="component-heading">Floating Action Button</h3>
    <div class="component-sub-container">
      <button class="btn btn-floating btn-primary">
        <i class="material-icons floating-btn-icons">camera_alt</i>
      </button>
      <button class="btn btn-floating btn-secondary">
        <i class="material-icons floating-btn-icons">create</i>
      </button>
      <button class="btn btn-floating btn-danger">
        <i class="material-icons floating-btn-icons">call_end</i>
      </button>
    </div>
  </div>

</body>

</html>